<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="card mr-3 ml-3">
            <div class="card-body">
                <h1 class="text-center">Your Contacts</h1>

                <!-- search bar-->
                <div class="search-container my-3">

                    <input onkeyup="search()" id="search-input" type="text" class="form-control"
                        placeholder="Search your contacts">
                    <div class="search-result">
                        <h1>This is search result</h1>
                        <!-- result goes here  -->
                        <h1>This is result</h1>

                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c : ${contacts}">
                                <th scope="row" th:text="${'USER2020'+c.cId}">1</th>
                                <td><img class="my_profile_picture" th:src="@{'/img/'+${c.image}}" alt="profile photo">

                                    <span th:text="${c.name}"></span>
                                </td>
                                <td>
                                    <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}"><span
                                            th:text="${c.email}"></span></a>

                                </td>
                                <td th:text="${c.phone}">@mdo</td>
                                <td>
                                    <a href="#" th:onclick="|deleteContact(${c.cId})|"
                                        class="btn btn-danger btn-sm">Delete</a>

                                    <form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">
                                        <button type="submit" class="btn btn-success btn-sm">Update</button>
                                    </form>

                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>


            </div>
        </div>

        <script>
            $(document).ready(() => {
                $('.item').removeClass('active');
                $("#contacts-link").addClass('active');
            });
        </script>
    </section>
</body>

</html>